<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>
{% extends "_layout.html" %}
{% block title %} Homepage {% endblock %} {% block header %} {% endblock %}

{% block content %}
<h1>Create a new account</h1>
<h3>The number one social media website!</h3>
<img style="display:flex; float:left; width:300px; height: 300px; margin-top:20px"
    src="https://www.tattoofun.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/q/squirtle_sm.jpg" />
<div style="display:inline-block">
    <form method="POST" action={{url_for ('users.create')}} style="margin:30px; margin-right:100px">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" placeholder="Enter username" name=username>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" name=email>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name=password>
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

{% endblock %}