{%extends '_layout.html'%}

{%block content%}
<h1>welcome {{current_user.username}}!</h1>
<img src="{{user.profile_image_url}}" style="width:200px; height:200px; border-radius: 100px;" />
<br></br>
<h1>Photos</h1>

<!-- images are here -->
{%for x in user_img%}
<div style="display:inline-block"><img src="{{x}}" style="width:250px;height:200px" />
    <a href={{url_for('donations.new')}} style="display:block"><button>Donations</button></a>
</div>
{%endfor%}
<a href="{{url_for('images.edit_upload_pic', id=current_user.id)}}">
    <button style="display:inline-block">Add photo</button>
</a>


{%endblock%}