{%extends '_layout.html'%}

{%block content%}
<h1>{{user.username}}</h1>
<h2>following: {{user.idol|length}}</h2>
<h2>followers: {{user.fan|length}}</h2>

{%if user.id!=current_user.id%}
{%if followers.button%}
<a href={{url_for('followers.create',username=user.username)}}><button style="display:inline-block">Follow</button></a>
{%elif not followers.button%}
<a href={{url_for('followers.create',username=user.username)}}><button
        style="display:inline-block">Unfollow</button></a>

{%endif%}
{%endif%}
<img src="{{user.profile_image_url}}" style="width:200px; height:200px; border-radius: 100px;" />
<br></br>
<h1>Photos</h1>

<!-- images are here -->
{%for x in user_img%}
<div style="display:inline-block"><img src="{{x.image_url}}" style="width:250px;height:200px" />
    <a href={{url_for('donations.new',img_id=x.id)}} style="display:block"><button>Donations</button></a>
</div>
{%endfor%}
{%if user.username==current_user.username%}
<a href="{{url_for('images.edit_upload_pic', id=current_user.id)}}">
    <button style="display:inline-block">Add photo</button>
</a>
{%endif%}


{%endblock%}